* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616__340.jpg");
}

.board-title {
    margin-top: 30px;
    margin-bottom: 70px;
    font-weight: bold;
    color: white;
    font-size: 50px;
}

.formTask {
    width: 35%vw;
    // background-color: red;
    margin-left: 30px;
}

.mainPage {
    margin-left: 600px;
    display: flex;
}