* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formTask {
    // margin-left: 35%;
    margin-top: 0;
    position: absolute;
    width: 500px;
    height: 350px;
    background: #F5FAFF;
    padding-left: 0;
    border-radius: 3%;

    &-top {
        position: absolute;
        // width: 530px;
        width: 33.1em;
        height: 50px;
        background: #C0D5FD;
        margin-left: -30px;
        border-radius: 3px 3px 0px 0px;

        &__title {
            position: absolute;
            width: 410px;
            height: 36.44px;
            display: flex;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            // display: flex;
            justify-content: center;
            color: #000000;
            margin-top: 10px;
            margin-left: 2em;
        }
    }

    &-main {
        position: relative;
        height: 234.56px;
        margin-top: 80px;
        // padding-left: 20px;

        &__input {
            // position: absolute;
            // margin-top: 50px;
            // width: 60px;
            height: 19.36px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            // line-height: 17px;
            display: flex;
            align-items: center;
            color: #000000;
            margin-left: 20px;
            margin-bottom: 20px;

            // &__input {
            //     flex: 1;
            // }

            #title {
                width: 440px;
            }

            #deadline {
                width: 440px;
                margin-top: 20px;
            }

            #description {
                height: 60px;
                width: 440px;
                margin-top: 40px;
            }
        }

        &__button {
            margin-top: 120px;
            display: flex;
            margin-left: 60px;
            margin-right: 30px;
            justify-content: space-around;

            &__save {
                background-color: rgb(30, 126, 9);
                color: white;
                width: 60px;
                height: 30px;
                border-radius: 10%;
                border: white;
            }

            &__edit {
                background-color: rgb(193, 210, 7);
                color: white;
                width: 60px;
                height: 30px;
                border-radius: 10%;
                border: white;
            }

            &__delete {
                background-color: rgb(181, 27, 16);
                color: white;
                width: 60px;
                height: 30px;
                border-radius: 10%;
                border: white;
            }
        }
    }
}